{% extends '../layout.html' %}

{% block body %}
	<div class="container" id="container">
		<div class="hero-unit">
			<h1>欢迎来到Godruoyi</h1>
			<p>Godruoyi 是一个基于 Node.js 的微博系统。</p>
			<p>
				<a href="login" class="btn btn-primary btn-large">login</a>
				<a href="reg" class="btn btn-large">reg</a>
			</p>
		</div>
		<div class="row">
			<div class="span4">
				<h2>{{ xxxx }} say:</h2>
				<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
			</div>
			<div class="span4">
				<h2>Godruoyi say:</h2>
				<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
			</div>
			<div class="span4">
				<h2>Godruoyi say:</h2>
				<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
			</div>
		</div>
	</div>
{% endblock %}
