<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a href="/" class="brand">Home</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active">
						<a href="/">Home</a>
					</li>

					<li class="">
						<a href="/">xxx</a>
					</li>

					<li class="">
						<a href="/">Hoxxxme</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>